@mixin input-style() {
  height: 2rem;
  width: 18rem;
  border-radius: 0.5rem;
  border: none;
}
$blue-color: #2962ff;

img {
  overflow: hidden;
  height: 12.5rem;
  width: 100%;
  object-fit: fill;
  border-radius: 1rem 1rem 0 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-size: large;
}
input {
  @include input-style();
  background-color: rgb(255, 255, 255);
  outline: none;
  text-align: center;
}
label {
  padding-bottom: 0.5rem;
  display: block;
}

select {
  @include input-style();
  option {
    text-align: center;
  }
}

input[type='submit'] {
  text-transform: uppercase;
  width: 8rem;
  &:hover {
    background-color: $blue-color;
  }
}
