@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  background: linear-gradient(
    45deg,
    rgba(23, 23, 29, 1) 0%,
    rgba(41, 98, 255, 1) 100%
  );
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
}
